@import "tailwindcss";

html {
    scroll-behavior: smooth;
    overflow-x: clip;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: clip;
}

/* Semua elemen memakai box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Semua gambar responsive */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Mencegah elemen absolute menyebabkan overflow */
section {
    overflow-x: clip;
}

/* Active Navbar */
.nav-link {
    position: relative;
    transition: .3s;
}

.nav-link.active {
    color: #22d3ee;
}

.nav-link::after {

    content: "";

    position: absolute;

    left: 0;

    bottom: -6px;

    width: 0;

    height: 2px;

    background: #22d3ee;

    transition: width .3s;

}

.nav-link.active::after {

    width: 100%;

}